<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0">
 <title>PyMyGW Webinterface</title>
 <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
 <script src="/static/jquery.min.js" type="text/javascript"></script>
</head>
<body>
 <div class="container">
  <div class="row alerts">
  </div>
  <div class="row">
    {% block content %}{% endblock %}
  </div>
 </div>
 <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>
