{% extends "base.html" %}
{% block content %}
<h2>Sensor Nodes</h2>
<div class="table-responsive col-md-8 col-md-offset-2">
 <table class="table table-hover table-striped">
  <thead>
   <tr>
    <th>Node</th>
    <th></th>
    <th>Sensor</th>
    <th></th>
    <th>Description</th>
    <th>Type</th>
    <th>Comment</th>
    <th>Last Value</th>
    <th>Last Seen</th>

   </tr>
  </thead>
  <tbody>
   {% for e in data | sort(attribute='node_id') %}
    <tr>
      <td>{{ e.node_id }}</td>
      <td>
       <a href="/detail/{{ e.node_id }}" class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-zoom-in"></span>
       </a>
      </td>
      <td>{{ e.sensor_id }}</td>
      <td>
       <a href="/detail/{{ e.node_id }}/{{ e.sensor_id }}" class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-zoom-in"></span>
       </a>
      </td>
      <td>{{ e.description }}</td>
      <td>{{ e.sensor_type }}</td>
      <td>{{ e.comment }}</td>
      <td id="val-{{ e.node_id }}-{{ e.sensor_id }}" style="cursor:pointer">{{ e.last_value }}</td>
      <script>
        $('#val-{{e.node_id}}-{{e.sensor_id}}').click(function(e){
            var id="{{e.node_id}}-{{e.sensor_id}}";
            console.log(id);
            var val=$('#val-'+id).text();
            $('#val-'+id).html('<input id="edit-'+id+'" value="'+val+'"/>');
            $('#edit-'+id).blur(function() {
              var val = $('#edit-'+id).val();
              console.log(val);
              $.post("act/{{e.node_id}}/{{e.sensor_id}}", {'val': val});
              $('#val-'+id).html(val);
            }).focus().click(function(){return false;});
        });
      </script>
      <td>{{ e.last_seen | timestamp2date }}</td>
    </tr>
   {% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}
